In [1]:
import pymongo
MONGODB_URI = 'mongodb+srv://jyoti:W9E616uFrh84Cid1@cluster0.ma2mjpy.mongodb.net/'
client = pymongo.MongoClient(MONGODB_URI)
# # Creating or opening database
# db = client.thirty_days_of_python
db = client['thirty_days_of_python']

In [2]:
from bson.objectid import ObjectId

student = db.students.find_one({'_id':ObjectId('6630bed56cae52488267017c')})
print(student)

{'_id': ObjectId('6630bed56cae52488267017c'), 'name': 'John', 'country': 'Sweden', 'city': 'Stockholm', 'age': 28}

In [3]:
query = {
    "country":"Finland",
    "city":"Helsinki"
}
students = db.students.find(query)
for student in students:
    print(student)

{'_id': ObjectId('6630be24f0254cc849c434ac'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}
{'_id': ObjectId('6630bed66cae52488267017d'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}

In [4]:
query = {"age":{"$gt":30}}
students = db.students.find(query)
for student in students:
    print(student)

{'_id': ObjectId('6630be24f0254cc849c434ac'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}
{'_id': ObjectId('6630bed26cae52488267017b'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}

In [6]:
query = {"age":{"$gt":30}}
students = db.students.find(query, {"_id":0})
for student in students:
    print(student)

{'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}
{'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}

In [9]:
curr = db.students.find().limit(3)

In [10]:
for x in curr:
    print(x)

{'_id': ObjectId('6630be24f0254cc849c434ac'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}
{'_id': ObjectId('6630bed26cae52488267017b'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'_id': ObjectId('6630bed56cae52488267017c'), 'name': 'John', 'country': 'Sweden', 'city': 'Stockholm', 'age': 28}

In [13]:
students = db.students.find({}, {"_id":0}).sort('name')
for student in students:
    print(student)

students = db.students.find({}, {"_id":0}).sort('name',-1)
for student in students:
    print(student)

students = db.students.find({}, {"_id":0}).sort('age')
for student in students:
    print(student)

students = db.students.find({}, {"_id":0}).sort('age',-1)
for student in students:
    print(student)

{'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}
{'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'name': 'John', 'country': 'Sweden', 'city': 'Stockholm', 'age': 28}
{'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}
{'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}
{'name': 'John', 'country': 'Sweden', 'city': 'Stockholm', 'age': 28}
{'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}
{'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}
{'name': 'John', 'country': 'Sweden', 'city': 'Stockholm', 'age': 28}
{'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}
{'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 250}
{'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'name': 'John', 'country': 'Sweden', 'city': 'Stockholm', 'age': 28}
{'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}

In [14]:
query = {'age':250}
new_value = {'$set':{'age':38}}

db.students.update_one(query, new_value)
# lets check the result if the age is modified
for student in db.students.find():
    print(student)

{'_id': ObjectId('6630be24f0254cc849c434ac'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 38}
{'_id': ObjectId('6630bed26cae52488267017b'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'_id': ObjectId('6630bed56cae52488267017c'), 'name': 'John', 'country': 'Sweden', 'city': 'Stockholm', 'age': 28}
{'_id': ObjectId('6630bed66cae52488267017d'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}

In [15]:
query = {'name':'John'}
db.students.delete_one(query)

for student in db.students.find():
    print(student)
# lets check the result if the age is modified
for student in db.students.find():
    print(student)

{'_id': ObjectId('6630be24f0254cc849c434ac'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 38}
{'_id': ObjectId('6630bed26cae52488267017b'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'_id': ObjectId('6630bed66cae52488267017d'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}
{'_id': ObjectId('6630be24f0254cc849c434ac'), 'name': 'Asabeneh', 'country': 'Finland', 'city': 'Helsinki', 'age': 38}
{'_id': ObjectId('6630bed26cae52488267017b'), 'name': 'David', 'country': 'UK', 'city': 'London', 'age': 34}
{'_id': ObjectId('6630bed66cae52488267017d'), 'name': 'Sami', 'country': 'Finland', 'city': 'Helsinki', 'age': 25}

In [ ]:
# db.students.drop()